<div class="container p-5 m-5">
  <div class="row card bg-light col-3 mt-1 p-2">
    <%= @user_input %>
  </div>
  <div class="row card bg-light col-3 mt-1 p-2">
    <%= @answer %>
  </div>
  <div class="btn btn-primary bg-white mt-1 p-2">
    <%= link_to "Ask the coach again", ask_path %>
  </div>
</div>
